In [1]:
print("Dhruv")

Dhruv

In [2]:
a = 10
b = 10.54
c = "dhruv"
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>

In [3]:
#variable declaration
myvar="Hello"
my_var="Hello"
_my_var="Hello"
myvar_="Hello"
print(myvar)
print(my_var)
print(_my_var)
print(myvar_)

Hello
Hello
Hello
Hello

In [4]:
#function
def hello():
    a = 10
    print(a)
    return 
hello()

10

In [5]:
#local and global variable
a = "Welcome to code unnati 2.O"
def hello():
    a = 20
    print(a)
    return
print(a)

Welcome to code unnati 2.O

In [6]:
#find variable type
a = 10
print(a)
print(type(a))

10
<class 'int'>

In [7]:
#multiple variable declaration
b,c,d = 11,12,13
print(a,b,c,d)

10 11 12 13

In [8]:
#Arithmatic operator
x = 5
y = 3
print(x+y)

8

In [9]:
#Assignment operator
x = 5 
x += 3
y = 5
y *= 3
print(x,y)

8 15

In [10]:
#comaprison operator 
x = 5 
y = 3 
print(x == y)

False

In [11]:
#comprison operator
x,y = 5,3
print(x != y)

True

In [12]:
#logical operator
x=5
print(x>3 and x<10)

True

In [13]:
#logical operator
x=5
print(x>3 or x<10)

True

In [14]:
#logical operator
x=5
print(not(x>3 and x<10))

False

In [15]:
#take input from user
x = int(input("Enetr the value of X : "))
y = int(input("Enetr the value of y : "))
z = x*y
print("multiplication is",z)

Enetr the value of X : 5
Enetr the value of y : 5
multiplication is 25

In [16]:
#string methods
statement = "     Python is a programming language     "
print(statement)

     Python is a programming language

In [17]:
#convert string into lower case and upper case 
statement = "     Python is a programming language     "
statement.lower()
print(statement)
statement.upper()
print(statement.upper())

     Python is a programming language
     PYTHON IS A PROGRAMMING LANGUAGE

In [18]:
#first letter should be capital in title
statement.title()

'     Python Is A Programming Language     '

In [19]:
#left side space removed
statement.lstrip()

'Python is a programming language     '

In [20]:
#right side space removed
statement.rstrip()

'     Python is a programming language'

In [21]:
#both side space removed
statement.strip()

'Python is a programming language'

In [22]:
#string place holder--->(default)
string = "{} {} {}".format('Python','Programming','Language')
string

'Python Programming Language'

In [23]:
#string place holder positional formating--->(index)
string = "{1} {0} {2}".format('Python','Programming','Language')
string

'Programming Python Language'

In [24]:
#string place holder key-word formating---->(key)
string = "{a} {e} {c}".format(a='Python',e='Programming',c='Language')
string

'Python Programming Language'

In [25]:
#f-string formating method
name = "Dhruv"
course = 'code unnati program 2.O'
print(f"Hello,My nmae is {name} and I am registrated for {course}")

Hello,My nmae is Dhruv and I am registrated for code unnati program 2.O

In [26]:
#sring slicing
str1 = "FACE"

In [27]:
str1[0]

'F'

In [28]:
str1[0:2]

'FA'

In [29]:
str1[::-1]

'ECAF'

In [30]:
str1[::1]

'FACE'

In [31]:
str1[-4:-1]

'FAC'

In [32]:
#List
list = ["parul",32,"Bharat",45.5,"Vadodara",99]
print(list)

['parul', 32, 'Bharat', 45.5, 'Vadodara', 99]

In [33]:
#get list value
list = ["parul",32,"Bharat",45.5,"Vadodara",99]
print(list[0])

parul

In [34]:
#List slicing
list = ["parul",32,"Bharat",45.5,"Vadodara",99]
print(list[0:])

['parul', 32, 'Bharat', 45.5, 'Vadodara', 99]

In [35]:
#List slicing
list = ["parul",32,"Bharat",45.5,"Vadodara",99]
print(list[0:2])

['parul', 32]

In [36]:
#List skip index
list = ["parul",32,"Bharat",45.5,"Vadodara",99]
print(list[::2])

['parul', 'Bharat', 'Vadodara']

In [37]:
#Add value in list
fruits = ["apple","banana","cherry"]
fruits.append("orange")
print(fruits)

['apple', 'banana', 'cherry', 'orange']

In [38]:
#Extend method
fruits = ["apple","banana","cherry"]
car = ["Ford","BMW","Volvo"]
fruits.extend(car)
print(fruits)

['apple', 'banana', 'cherry', 'Ford', 'BMW', 'Volvo']

In [39]:
#insert method
fruits = ["apple","banana","cherry"]
fruits.insert(0,"orange")
print(fruits)

['orange', 'apple', 'banana', 'cherry']

In [40]:
#pop method
fruits = ["apple","banana","banana","cherry"]
fruits.pop(1)
print(fruits)

['apple', 'banana', 'cherry']

In [41]:
#remove method
#If same value occur then it will delete first value
fruits = ["apple","banana","banana","cherry"]
fruits.remove("banana")
print(fruits)

['apple', 'banana', 'cherry']

In [42]:
#sort method (Alphbet order)
car = ["Ford","BMW","Volvo"]
car.sort()
print(car)

['BMW', 'Ford', 'Volvo']

In [43]:
#spilt method
text = input("Enetr the word: ")
text.split()

Enetr the word: Hello i'm Dhruv

['Hello', "i'm", 'Dhruv']

In [44]:
#create tuple (immutable)
tup1 = ("parul",32,"Bharat",45.5,"Vadodara",99)
print(tup1)
print(type(tup1))

('parul', 32, 'Bharat', 45.5, 'Vadodara', 99)
<class 'tuple'>

In [45]:
#get tuple value
tup1 = ("parul",32,"Bharat",45.5,"Vadodara",99)
print(tup1[4])

Vadodara

In [46]:
#concatenate(+)
tup1 = ("parul",32,"Bharat",45.5,"Vadodara",99)
tup2 = ("Python",87)
tup3 = tup1 + tup2
print(tup3)

('parul', 32, 'Bharat', 45.5, 'Vadodara', 99, 'Python', 87)

In [47]:
#raplication(*)
tup1 = ("parul",32,"Bharat",45.5,"Vadodara",99)
tup2 = ("Python",87)
tup3 = tup1 + tup2
print(tup3*3)

('parul', 32, 'Bharat', 45.5, 'Vadodara', 99, 'Python', 87, 'parul', 32, 'Bharat', 45.5, 'Vadodara', 99, 'Python', 87, 'parul', 32, 'Bharat', 45.5, 'Vadodara', 99, 'Python', 87)

In [48]:
#delete entire tuple
tup1 = ("parul",32,"Bharat",45.5,"Vadodara",99)
del tup1
print(tup1)

NameError: name 'tup1' is not defined

In [ ]:
#count method
numbers = (1,3,7,8,7,5,4,6,8,5)
x = numbers.count(5)
print(x)

In [ ]:
#index method
numbers = (1,3,7,8,7,5,4,6,8,5)
x = numbers.index(5)
print(x)

In [ ]:
#create dictinary
cars = {
    "brand" : "Mahindra",
    "model" : "Thar",
    "year"  : 2010
}
print(cars)
print(type(cars))

In [ ]:
#Access with key dictinary
cars = {
    "brand" : "Mahindra",
    "model" : "Thar",
    "year"  : 2010
}
print(cars["model"])

In [ ]:
#print only key values
cars = {
    "brand" : "Mahindra",
    "model" : "Thar",
    "year"  : 2010
}
print(cars.keys())

In [ ]:
#print only values 
cars = {
    "brand" : "Mahindra",
    "model" : "Thar",
    "year"  : 2010
}
print(cars.values())

In [ ]:
#print only both key and values
cars = {
    "brand" : "Mahindra",
    "model" : "Thar",
    "year"  : 2010
}
print(cars.items())

In [ ]:
#update method in dictionary
cars = {
    "brand" : "Mahindra",
    "model" : "Thar",
    "year"  : 2010
}
cars.update({"year": 2012})
print(cars)

In [ ]:
#adding values in dictionary
cars = {
    "brand" : "Mahindra",
    "model" : "Thar",
    "year"  : 2010
}
cars["color"] = "black"
print(cars)

In [ ]:
#removing values in dictionary
cars = {
    "brand" : "Mahindra",
    "model" : "Thar",
    "year"  : 2010
}
cars.pop("model")
print(cars)

In [ ]:
#creating set1
sub1 = {"Physics","Hindi","Chemistry","Maths","Hindi"}
print(sub1)
print(type(sub1))

In [ ]:
#creating set2
sub1 = {"Physics","Hindi","Chemistry","Maths","Hindi","English"}
sub2 = {"History","Social Science","Biology","Hindi"}
print(sub2)

In [ ]:
#union of two sets--->(pipe sysmbol)
sub1 = {"Physics","Hindi","Chemistry","Maths","Hindi","English"}
sub2 = {"History","Social Science","Biology","Hindi"}
sub1|sub2  #sub1.union(sub2)

In [ ]:
#union of two sets--->(union method)
sub1 = {"Physics","Hindi","Chemistry","Maths","Hindi","English"}
sub2 = {"History","Social Science","Biology","Hindi"}
sub1.union(sub2)

In [ ]:
#intersection of two sets
sub1 = {"Physics","Hindi","Chemistry","Maths","Hindi","English"}
sub2 = {"History","Social Science","Biology","Hindi"}
sub1.intersection(sub2)

In [ ]:
#len methods
fruits = ["apple","banana","cherry"]
len(fruits)

In [ ]:
#sort method in dictionary
theater = {
    "Movie" : "Pushpa",
    "Actor" : "Allu Arjun",
    "Year"  : 2021
}
sorted(theater)

In [ ]:
#max method
numbers = (1,3,7,8,7,5,4,6,8,5)
max(numbers)

In [ ]:
#min method
numbers = (1,3,7,8,7,5,4,6,8,5)
min(numbers)

In [ ]:
#sum method
numbers = (1,3,7,8,7,5,4,6,8,5)
sum(numbers)

In [ ]:
#returns a methods in datatype
dir(list)

In [ ]:
#returns a methods in string
dir(str)

In [ ]:
#type casting
n = 10 # Integer
n = float(n) # Converted to float
print(type(n))
print(n)

In [ ]:
#type casting
n = 10 # Integer
n = str(n) # Converted to string
print(type(n))
print(n)

In [ ]:
# type casting list to tuple
fruits = ["apple","banana","cherry"] # List
print(type(fruits))

fruits = tuple(fruits) # Converted to tuple
print(type(fruits))

# Exercise 1

In [ ]:
import sys
fruits_list = ["apple", "banana", "orange", "grape", "mango"]
additional_fruits = ["watermelon", "kiwi"]

def First_Last():
    print("First fruit is",fruits_list[:1])
    print("Last fruit is",fruits_list[-1:])
    
def sec_th():
    print("Second fruit is",fruits_list[1:2])
    print("Third fruit is",fruits_list[2:3])

def count_fruits():
    F = len(fruits_list)
    print("Total fruits are",F)

def replace_fruit():
    fruits_list[2] = "Pear"
    print(fruits_list)
    fruits_list[2] = "orange"

def cheack():
    if "apple" in fruits_list:
        print("Apple is present in the list")
    else:
        print("Apple is not present in the list")

def remove():
    fruits_list.remove("banana")
    fruits_list.remove("mango")
    print(fruits_list)

def Concatenate():
    both = fruits_list + additional_fruits
    print("Concatenate :-",both)

def sort():
    fruits_list.sort()
    print(fruits_list)

def count_kiwi():
    print("kiwi :- ",fruits_list.count("kiwi"))

while(True):
    fruits_list = ["apple", "banana", "orange", "grape", "mango"]
    additional_fruits = ["watermelon", "kiwi"]

    print("............................................................................")
    print("Fruits_list       :-",fruits_list)
    print("Additional_fruits :-",additional_fruits)
    print("......Fruits manu......",
          "\n1.Get First and last fruit",
          "\n2.Get Second and third fruit",
          "\n3.Total no of fruits",
          "\n4.Replace third fruit with pear",
          "\n5.Check if apple is present in the fruits_list and print the result",
          "\n6.Remove banana and the last fruit from the list",
          "\n7.Concatenate (fruits_list & additional_fruits)",
          "\n8.Sort the fruits_list in alphabetical order",
          "\n9.Count the number of times kiwi appears in the fruits_list",
          "\n10.Exit the code....."
)
    ch = int(input("Enetr your choice: "))
    
    if ch==1:
        First_Last()
    
    elif ch==2:
        sec_th()
    
    elif ch==3:
        count_fruits()
        
    elif ch==4:
        replace_fruit()
    
    elif ch==5:
        cheack()
    
    elif ch==6:
        remove()

    elif ch==7:
        Concatenate()

    elif ch==8:
        sort()
    
    elif ch==9:
        count_kiwi()
    
    elif ch==10:
        sys.exit(0)
        
    else:
        print("...Wrong Choice....")