# Pandas

In [1]:
# to check the version if pandas
import pandas as pd
print(pd.__version__)

2.0.3

In [2]:
import pandas as pd
import numpy as np

#creating empty series
ser = pd.Series()
print(ser)
#simple array
data = np.array(['g','e','e','k','s'])
ser = pd.Series(data)
print(ser)

Series([], dtype: object)
0    g
1    e
2    e
3    k
4    s
dtype: object

# Creating a series of list

In [3]:
# there is one differnce betweeen creating array and list
# to create series of array we need to use numpy and pandas array
# to create series of list we need to only use pandas array

In [4]:
import pandas as pd
#a simple list
list = ['g','e','e','k','s']
ser = pd.Series(list)
print(ser)

0    g
1    e
2    e
3    k
4    s
dtype: object

In [5]:
# Pandas index
import pandas as pd
data = pd.read_csv("airlines.csv")
print(data.describe)

<bound method NDFrame.describe of      Airport.Code                                       Airport.Name  \
0             ATL  Atlanta, GA: Hartsfield-Jackson Atlanta Intern...
1             BOS                    Boston, MA: Logan International
2             BWI  Baltimore, MD: Baltimore/Washington Internatio...
3             CLT     Charlotte, NC: Charlotte Douglas International
4             DCA  Washington, DC: Ronald Reagan Washington National
...           ...                                                ...
4403          SAN             San Diego, CA: San Diego International
4404          SEA          Seattle, WA: Seattle/Tacoma International
4405          SFO     San Francisco, CA: San Francisco International
4406          SLC   Salt Lake City, UT: Salt Lake City International
4407          TPA                     Tampa, FL: Tampa International

     Time.Label  Time.Month Time.Month Name  Time.Year  \
0       2003/06           6            June       2003
1       2003/06           6            June       2003
2       2003/06           6            June       2003
3       2003/06           6            June       2003
4       2003/06           6            June       2003
...         ...         ...             ...        ...
4403    2016/01           1         January       2016
4404    2016/01           1         January       2016
4405    2016/01           1         January       2016
4406    2016/01           1         January       2016
4407    2016/01           1         January       2016

      Statistics.# of Delays.Carrier  Statistics.# of Delays.Late Aircraft  \
0                               1009                                  1275
1                                374                                   495
2                                296                                   477
3                                300                                   472
4                                283                                   268
...                              ...                                   ...
4403                             280                                   397
4404                             357                                   513
4405                             560                                   947
4406                             338                                   540
4407                             410                                   342

      Statistics.# of Delays.National Aviation System  \
0                                                3217
1                                                 685
2                                                 389
3                                                 735
4                                                 487
...                                               ...
4403                                              171
4404                                              351
4405                                             2194
4406                                              253
4407                                              312

      Statistics.# of Delays.Security  ...  Statistics.Flights.Delayed  \
0                                  17  ...                        5843
1                                   3  ...                        1623
2                                   8  ...                        1245
3                                   2  ...                        1562
4                                   4  ...                        1100
...                               ...  ...                         ...
4403                                2  ...                         871
4404                                2  ...                        1274
4405                                2  ...                        3825
4406                                3  ...                        1175
4407                                2  ...                        1095

     Statistics.Flights.Diverted  Statistics.Flights.On Time  \
0                             27                       23974
1                              3                        7875
2                             15                        6998
3                             14                        7021
4                             18                        5321
...                          ...                         ...
4403                          18                        5030
4404                          31                        8330
4405                          20                        8912
4406                          14                        7426
4407                           7                        4748

      Statistics.Flights.Total  Statistics.Minutes Delayed.Carrier  \
0                        30060                               61606
1                         9639                               20319
2                         8287                               13635
3                         8670                               14763
4                         6513                               13775
...                        ...                                 ...
4403                      6016                               15482
4404                      9739                               25461
4405                     13206                               43641
4406                      8699                               32066
4407                      5996                               22557

      Statistics.Minutes Delayed.Late Aircraft  \
0                                        68335
1                                        28189
2                                        26810
3                                        23379
4                                        13712
...                                        ...
4403                                     23023
4404                                     32693
4405                                     72557
4406                                     33682
4407                                     21164

      Statistics.Minutes Delayed.National Aviation System  \
0                                                118831
1                                                 24400
2                                                 17556
3                                                 23804
4                                                 20999
...                                                 ...
4403                                               6021
4404                                              11466
4405                                             153416
4406                                               8057
4407                                              11423

      Statistics.Minutes Delayed.Security  Statistics.Minutes Delayed.Total  \
0                                     518                            268764
1                                      99                             77167
2                                     278                             64480
3                                     127                             65865
4                                     120                             52747
...                                   ...                               ...
4403                                   79                             46206
4404                                   73                             74017
4405                                   66                            278610
4406                                   57                             76978
4407                                   37                             57774

      Statistics.Minutes Delayed.Weather
0                                  19474
1                                   4160
2                                   6201
3                                   3792
4                                   4141
...                                  ...
4403                                1601
4404                                4324
4405                                8930
4406                                3116
4407                                2593

[4408 rows x 24 columns]>

In [6]:
# What is the meaning of dataframe?
# It is define as a data structure that organizes data into a 2-dimensional table of rows and columns
# much like a spreadsheet

In [7]:
import pandas as pd
#creating list
lst = ['Geeks','for','Geeks','is','Portal','for','Geeks']
#calling dataframe constructor on list
df = pd.DataFrame(lst)
print(df)

        0
0   Geeks
1     for
2   Geeks
3      is
4  Portal
5     for
6   Geeks

In [8]:
import pandas as pd
data = {'Name':['Tom' , 'nick' , 'krish' , 'jack'],'Age':[20,21,19,18]}
#create Dataframe
df = pd.DataFrame(data)
print(df)

    Name  Age
0    Tom   20
1   nick   21
2  krish   19
3   jack   18

In [9]:
# RE-indexing = to create a new index
# in other words = used to change the row labels and column labels of a DataFrame.
info = pd.DataFrame({'P':[4,7,1,8,9],
                    'Q':[6,8,10,15,11],
                    'R':[17,13,12,16,14],
                    'S':[15,19,7,21,9]},
                   index = ['Parker' , 'William' , 'Smith' , 'Terry' , 'Phill'])
print(info)

         P   Q   R   S
Parker   4   6  17  15
William  7   8  13  19
Smith    1  10  12   7
Terry    8  15  16  21
Phill    9  11  14   9

In [10]:
#reindexing with new index
abc = info.reindex(['A','B','C','D','E'])
print(abc)

    P   Q   R   S
A NaN NaN NaN NaN
B NaN NaN NaN NaN
C NaN NaN NaN NaN
D NaN NaN NaN NaN
E NaN NaN NaN NaN

In [11]:
#reindexing with new index
abcd = info.reindex(['A','B','C','D','E'],fill_value=100)
print(abcd)

     P    Q    R    S
A  100  100  100  100
B  100  100  100  100
C  100  100  100  100
D  100  100  100  100
E  100  100  100  100

In [ ]:
#two types of sorting in pandas
#1. by label
#2. by index

In [22]:
#unsorted dataframe to sorted dataframe
import pandas as pd
import numpy as np
unsorted_df = pd.DataFrame(np.random.randn (10,2),index= [1,4,6,2,3,5,9,8,8,7],columns=['col2','col1'])
print(unsorted_df)
sorted_df = unsorted_df.sort_index(ascending=False)
print(sorted_df)

       col2      col1
1  0.119924  0.500487
4  0.492094  1.635935
6 -0.683878 -0.514807
2 -0.401307 -0.858318
3 -0.868021  0.510751
5  0.879276  1.127850
9 -0.204173  0.627872
8 -0.533830 -1.678657
8  1.953059 -0.839636
7  0.364080  0.183532
       col2      col1
9 -0.204173  0.627872
8 -0.533830 -1.678657
8  1.953059 -0.839636
7  0.364080  0.183532
6 -0.683878 -0.514807
5  0.879276  1.127850
4  0.492094  1.635935
3 -0.868021  0.510751
2 -0.401307 -0.858318
1  0.119924  0.500487

In [26]:
#unsorted dataframe to sorted dataframe
import pandas as pd
import numpy as np
unsorted_df = pd.DataFrame(np.random.randn (10,2),index= [1,4,6,2,3,5,9,8,8,7],columns=['col2','col1'])
print(unsorted_df)
sorted_df = unsorted_df.sort_index(ascending = True,axis=1)
print(sorted_df)

       col2      col1
1 -0.501490  0.249150
4  0.593294 -0.437001
6  0.932885  0.705267
2  0.350766  0.004683
3 -1.555916 -0.528205
5 -0.899663 -1.189381
9  0.954408 -1.094881
8 -0.727432 -0.661023
8  0.025482 -0.001352
7 -0.382090 -0.254255
       col1      col2
1  0.249150 -0.501490
4 -0.437001  0.593294
6  0.705267  0.932885
2  0.004683  0.350766
3 -0.528205 -1.555916
5 -1.189381 -0.899663
9 -1.094881  0.954408
8 -0.661023 -0.727432
8 -0.001352  0.025482
7 -0.254255 -0.382090

In [23]:
#unsorted dataframe to sorted dataframe
import pandas as pd
import numpy as np
unsorted_df = pd.DataFrame(np.random.randint (2,10),index= [1,4,6,2,3,5,9,8,8,7],columns=['col2','col1'])
print(unsorted_df)
sorted_df = unsorted_df.sort_index()
print(sorted_df)

   col2  col1
1     3     3
4     3     3
6     3     3
2     3     3
3     3     3
5     3     3
9     3     3
8     3     3
8     3     3
7     3     3
   col2  col1
1     3     3
2     3     3
3     3     3
4     3     3
5     3     3
6     3     3
7     3     3
8     3     3
8     3     3
9     3     3

In [30]:

import pandas as pd
import numpy as np
unsorted_df  = pd.DataFrame({'col1':[2,1,1,1], 'col2':[1,3,2,4]})
print(unsorted_df)
sorted_df = unsorted_df.sort_values (by='col1')
print(sorted_df)

   col1  col2
0     2     1
1     1     3
2     1     2
3     1     4
   col1  col2
1     1     3
2     1     2
3     1     4
0     2     1

In [32]:
s = pd.Series(['Tom','William Wick','John','Albert',np.nan,'1234','SteveSmith'])
print(s.str.lower())

0             tom
1    william wick
2            john
3          albert
4             NaN
5            1234
6      stevesmith
dtype: object

In [33]:
s = pd.Series(['Tom','William Wick','John','Albert',np.nan,'1234','SteveSmith'])
print(s.str.upper())

0             TOM
1    WILLIAM WICK
2            JOHN
3          ALBERT
4             NaN
5            1234
6      STEVESMITH
dtype: object

In [34]:
s = pd.Series(['Tom','William Wick','John','Albert',np.nan,'1234','SteveSmith'])
print(s.str.islower())

0    False
1    False
2    False
3    False
4      NaN
5    False
6    False
dtype: object

In [43]:
data ={
'Maths':(90,85,98,80,55,78),
'Science': (92,87,59,64, 87,96),
'English': (95,94,84,70,75,60)}
# Dataframe
df = pd.DataFrame(data)
# Display the Dataframe
print("Dataframe = \n",df)
# Display the sum of Marks in each column
print("Insum = \n", df.sum())

Dataframe =
    Maths  Science  English
0     90       92       95
1     85       87       94
2     98       59       84
3     80       64       70
4     55       87       75
5     78       96       60
Insum =
 Maths      486
Science    485
English    478
dtype: int64

In [49]:
data ={
'Maths':(90,85,98,None,55,78),
'Science': (92,87,59,None,None,96),
'English': (95,None,84,70,75,None)}
# Dataframe
df = pd.DataFrame(data)
# Display the Dataframe
print("Dataframe = \n",df)
#display the count of non-empty values in each column
print("\ncount the number of non-empty value:\n",df.count())

Dataframe =
    Maths  Science  English
0   90.0     92.0     95.0
1   85.0     87.0      NaN
2   98.0     59.0     84.0
3    NaN      NaN     70.0
4   55.0      NaN     75.0
5   78.0     96.0      NaN

count the number of non-empty value:
 Maths      5
Science    4
English    4
dtype: int64

In [48]:
data ={
'Maths':(90,85,98,80,55,78),
'Science': (92,87,59,64, 87,96),
'English': (95,94,84,70,75,60)}
# Dataframe
df = pd.DataFrame(data)
# Display the Dataframe
print("Dataframe = \n",df)
# Display the max of Marks in each column
print("MAX VALUE = \n", df.max())

Dataframe =
    Maths  Science  English
0     90       92       95
1     85       87       94
2     98       59       84
3     80       64       70
4     55       87       75
5     78       96       60
MAX VALUE =
 Maths      98
Science    96
English    95
dtype: int64

In [50]:
data ={
'Maths':(90,85,98,80,55,78),
'Science': (92,87,59,64, 87,96),
'English': (95,94,84,70,75,60)}
# Dataframe
df = pd.DataFrame(data)
# Display the Dataframe
print("Dataframe = \n",df)
# Display the min of Marks in each column
print("MIN VALUE = \n", df.min())

Dataframe =
    Maths  Science  English
0     90       92       95
1     85       87       94
2     98       59       84
3     80       64       70
4     55       87       75
5     78       96       60
MIN VALUE =
 Maths      55
Science    59
English    60
dtype: int64

In [51]:
data ={
'Maths':(90,85,98,80,55,78),
'Science': (92,87,59,64, 87,96),
'English': (95,94,84,70,75,60)}
# Dataframe
df = pd.DataFrame(data)
# Display the Dataframe
print("Dataframe = \n",df)
# Display the median of Marks in each column
print("MEDIAN VALUE = \n", df.median())

Dataframe =
    Maths  Science  English
0     90       92       95
1     85       87       94
2     98       59       84
3     80       64       70
4     55       87       75
5     78       96       60
MEDIAN VALUE =
 Maths      82.5
Science    87.0
English    79.5
dtype: float64

In [52]:
data ={
'Maths':(90,85,98,80,55,78),
'Science': (92,87,59,64, 87,96),
'English': (95,94,84,70,75,60)}
# Dataframe
df = pd.DataFrame(data)
# Display the Dataframe
print("Dataframe = \n",df)
# Display the mean of Marks in each column
print("MEAN VALUE = \n", df.mean())

Dataframe =
    Maths  Science  English
0     90       92       95
1     85       87       94
2     98       59       84
3     80       64       70
4     55       87       75
5     78       96       60
MEAN VALUE =
 Maths      81.000000
Science    80.833333
English    79.666667
dtype: float64

In [55]:
#making data frame from csv file
data = pd.read_csv("nba.csv",index_col="Name")
#retrieving columns by indexing operator
first = data["Age"]
print(first)

Name
Avery Bradley    25.0
Jae Crowder      25.0
John Holland     27.0
R.J. Hunter      22.0
Jonas Jerebko    29.0
                 ...
Shelvin Mack     26.0
Raul Neto        24.0
Tibor Pleiss     26.0
Jeff Withey      26.0
NaN               NaN
Name: Age, Length: 458, dtype: float64

In [59]:
# in loc we need to specify the value
#making data frame from csv file
data = pd.read_csv("nba.csv",index_col="Name")

#retrieving row by loc method
first = data.loc["Avery Bradley"]
second = data.loc["R.J. Hunter"]
print(first,"\n\n",second)

Team        Boston Celtics
Number                 0.0
Position                PG
Age                   25.0
Height                 6-2
Weight               180.0
College              Texas
Salary           7730337.0
Name: Avery Bradley, dtype: object

 Team        Boston Celtics
Number                28.0
Position                SG
Age                   22.0
Height                 6-5
Weight               185.0
College      Georgia State
Salary           1148640.0
Name: R.J. Hunter, dtype: object

In [60]:
#iloc is used to access the data with specific location 
#making data frame from csv file
data = pd.read_csv("nba.csv",index_col="Name")
#retrieving rows by iloc method
row2 = data.iloc[3]
print(row2)

Team        Boston Celtics
Number                28.0
Position                SG
Age                   22.0
Height                 6-5
Weight               185.0
College      Georgia State
Salary           1148640.0
Name: R.J. Hunter, dtype: object